.btn-round {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: #212529;
    background: #DDDDDD;
    align-items: center;
    box-sizing: border-box;
    vertical-align: middle;
    margin-left: 5%;
}

.btn-round:hover {
    color: #212529;
}

.btn-round .btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round .btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round .btn-xs {
    width: 24px !important;
    height: 24px !important;
}