footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6!important;
    box-sizing: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    box-shadow: 0 .125rem 5px -5px #333;
}

.footer-top {
    padding: 60px 0 20px 0;
    text-align: left;
    margin: 0 60px 0 60px;
}

.footer-bottom {
    text-align: center;
    padding: 0 0 60px 0;
}

.ul-social {
    list-style-type: none;
    padding-left: 0;
}

.ul-social li {
    display: inline;
    font-size: 1.2em;
    padding-left: .7rem;
}

.ul-social li:first-child {
    padding-left: 0;
}

.contato i {
    padding-right: .7rem;
}

.section-contato {
    text-align: center;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}