footer {
    background-color: #fff;
}

.footer-top {
    padding: 60px 0 20px 0;
    text-align: left;
    margin: 0 60px 0 60px;
}

.footer-bottom {
    text-align: center;
    padding: 0 0 60px 0;
}

.ul-social {
    list-style-type: none;
    padding-left: 0;
}

.ul-social li {
    display: inline;
    font-size: 1.2em;
    padding-left: .7rem;
}

.ul-social li:first-child {
    padding-left: 0;
}

.contato i {
    padding-right: .7rem;
}